.conteiner {
    transition: background-color .8s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 20px 0px 20px 0px;
}

input {
    width: 45%;
    border-radius: 60px 0px 0px 60px;
    height: 39px;
    font-size: 20px;
    font-weight: 200;
    padding-left: 20px;
    outline: none;
    border: 1px #572EE5 solid;
    transition: background-color .8s;
}

.container-input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoSearch {
    height: 39px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #572EE5;
    cursor: pointer;
}

.logoClose {
    height: 39px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 20px 20px 0px;
    background-color: #572EE5;
    border-left: 2px solid #282C34;
    cursor: pointer;
}

h1 { 
    color: #572EE5;
    font-size: 36px;
    font-weight: 700;
    margin-top: 30px;
}

h2 {
    color: #572EE5;
    font-weight: bold;
    font-weight: 400;
    padding: 40px;
}

.searchContainer {
    width: 10%;
    background-color: #572EE5;
}

.autoCompleteContainer {
     position: relative;
}

.searchIcon {
    width: 25px;
    height: 25px;
}


.searchDark{
    transition: background-color .8s;
    background-color: #20222B;
    border-color: #572EE5;
    width: 100%;
    height: 100%;
}

.searchDark h1{
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    margin-top: 30px;
}


.searchDark h2{
    color: #fff;
    font-weight: bold;
    font-weight: 400;
    padding: 40px;
}

.searchDark input{
    transition: background-color .8s;
    background-color: #141514;
    color: #536D75;
    border-color: #572EE5;
}